.container {
    display: flex;
    margin: 100px 50px 50px 50px;
}

.content {
    width: 156px;
    border: 1px solid black;
    margin: 0 auto;
    user-select: none;
}


.boxes {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 30px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
    background-color: aquamarine;
}

.item:hover {
    background-color: #f1f1f10c;
}


/* .box {
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 30px */
}